<form submit.trigger="lookup()">
  <div>
    <label class="form-label">E-mail</label>
    <input
      class="form-control"
      type="email"
      value.bind="email"
      placeholder="E-mail"
      required
    />
  </div>
  <div>
    <label class="form-label">Mobilnummer</label>
    <input
      class="form-control"
      type="tel"
      value.bind="phone"
      placeholder="12345678"
      required
    />
  </div>
  <button class="btn btn-primary" type="submit">Log ind</button>
</form>

<!--
  FIXME: This link works, but the url shown in the bottom left in the browser is not correct
  This makes "right click and open in new tab" not work -->
Er du ikke allerede en registreret atlet? -
<a load="../create">klik her for at oprette dig</a>
