HER ER SPIL

<!--
    FIXME: When we are here it seems as if the "browser back" button does not work
    The url changes in the address bar, but the page does not actually change.
    This is only true if navigating from "list-games". If we navigate from "create-team" then it works.
 -->

<a class="btn btn-secondary" load="../create">Tilføj spil</a>

<ul>
  <li repeat.for="game of games">
    ${game.time}
    <span if.bind="game.participants == game.maxParticipants"> Fuldt </span>
    <span else> ${game.participants}/${game.maxParticipants} </span>
  </li>
</ul>
